version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env.production
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    image: hr-recruitment-app:latest
    working_dir: /app
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      NPM_CONFIG_PRODUCTION: "false" # install dev deps (nest CLI) for build/migrations
      DB_HOST: db # override host to the service name
      DB_PORT: 5432 # override port to container port
      TYPEORM_LOGGING: "false"
    depends_on:
      - db
    ports:
      - "${PORT}:3500"
    command: >
      sh -c "
        echo 'Waiting for database...' &&
        until nc -z db 5432; do sleep 2; done &&
        npx typeorm-ts-node-commonjs migration:run -d typeorm.migration.config.ts &&
        if [ -f dist/main.js ]; then
          node dist/main.js;
        elif [ -f dist/src/main.js ]; then
          node dist/src/main.js;
        else
          echo 'main.js not found in dist'; ls -R dist; exit 1;
        fi
      "

volumes:
  pgdata:


